body
	-webkit-font-smoothing: antialiased


.top-bar
	-webkit-box-shadow: 0px 1px 0px 0px #4a5562
	box-shadow: 0px 1px 0px 0px #4a5562

	.title-area
		background-color: #5e6c7b
		border-right: 1px solid #4a5562
		a
			padding: 14px 20px 20px
			display: block
			&:hover
				background-color: #4a5562

	.top-bar-section
		ul
			li
				a
					background-color: #556270
					&:hover
						background-color: #556270
						color: white
		.has-dropdown > a:after
			margin-top: 2.5px

